.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.menu_list {
    display: flex;
    gap: 32px;
    list-style: circle;
    margin: 0;
    padding: 133px 36px 138 50px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header_link_active {
text-decoration: none;
}

.header_logo {
    display: block;
    width: 148px;
    height: 105px;
}

.address {
    max-width: 240px;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    font-family: "Raleway", Arial, sans-serif;
}

.header_address {
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main{
    display: flex;
    flex-direction: column;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1;
}

.cover {
    position: relative;
    min-height: 757px;
    width: 1100px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 165px 50px 50px;
}

.cover_title,
.cover__description {
    position: relative;
    z-index: 2;
}

.cover_text {
    margin: 0;
    display: block;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    word-spacing: 30%;
    text-transform: uppercase;
    color: #fff;
    font-family: "Raleway", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cover_text_left {
    text-align: left;
}

.cover_text_center {
    text-align: center;
}

.cover_text_right {
    text-align: right;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 90%;
    font-family: "Raleway", Arial, sans-serif;
    
}
.bet-button {
    width: 256px;
    height: 51px;
    background: transparent;
    border: 1px solid currentColor;
    color: #fff;
    padding: 12px 32px 11px 31px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Raleway", Arial, sans-serif;
    cursor: pointer;
    white-space: nowrap;
}

.lots {
    padding: 180px 50px 0;
}

.lots_heading {
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 28px 40px;
    font-weight: 700;
    font-family: "Raleway", Arial, sans-serif;
}

.lots_card_list {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
}

.lots_card_list_item {
    width: 334px;
    min-height: 596px;
    flex-grow: 1;
}

.card_link {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    
}

.card_title,
.card_text {
    position: relative;
    z-index: 2;
}

.card_title{
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.2;
    font-weight: bold;
    font-family: "Raleway", Arial, sans-serif;
    margin: 0;
}

.card_text{
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
    font-family: "Raleway", Arial, sans-serif;
}

.lots_look_more_link{
    display: block;
    margin-left: 40px;
    font-size: 20px;
    text-decoration: underline;
    font-family: "Raleway", Arial, sans-serif;
}

.card_type_film {
background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
background-image: url(../images/card-lot-03.jpg);
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    padding: 155px 24px;
}

.about_logo {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_logo_image {
    width: 148px;
    height: 114px;
}

.about_title {
    width: 291px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 100px 0; 
    font-family: "Raleway", Arial, sans-serif;
}
.about_text {
    width: 693px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    line-height: 1.2;
    font-family: "Raleway", Arial, sans-serif;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 180px 50px 90px;
}

.footer_address {
    font-size: 18px;
    font-style: normal;
    line-height: 1.35;
    max-width: 264px;
}

.footer_menu_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer_menu_list_item {
    font-size: 18px;
    font-family: "Raleway", Arial, sans-serif;
}

.footer_menu_link {
    text-decoration: underline;
}

.footer_menu_link_active {
    text-decoration: none;
}
.footer_social_list {
    display: flex;
    justify-self: end;
    gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_social_link {
    display: block;
}

.footer_social_icon {
    width: 48px;
    height: 48px;
}